[core]
	commitGraph = true
[diff]
	algorithm = patience
[gc]
	writeCommitGraph = true
[protocol]
	version = 2
[user]
	email = {{ .email }}
	name = Alexander J. Maidak

[include]
	path = /Users/alex_maidak/.config/dev/gitconfig
