{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

# ruby needed for minidev
sudo apt install -y git tmux neovim ruby

# nvm manages nodejs which is used by neoclide/coc (Conquer of Completion)
# plugin for vim
if [ ! -d .nvm ]; then
  curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
  nvm install node
fi

{{ end -}}

{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

# use a Brewfile see: https://github.com/Homebrew/homebrew-bundle#usage
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "bash"
brew "git"
brew "neovim"
brew "tmux"
EOF

{{ end -}}

if [ ! -d ~/.bash-git-prompt ]; then
  git clone https://github.com/magicmonty/bash-git-prompt.git ~/.bash-git-prompt --depth=1
fi

if [ ! -d  ~/src/github.com/burke/minidev ]; then
  mkdir -p  ~/src/github.com/burke/
  git clone https://github.com/burke/minidev ~/src/github.com/burke/minidev
fi

if [ ! -e "${XDG_DATA_HOME:-$HOME/.local/share}/nvim/site/autoload/plug.vim" ]; then
  sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
fi
